nav{
    background-color: rgba(27, 236, 8, 0.671);
    margin: 10px;
    padding: 10px;
    box-shadow:10px 10px 10px 0px  rgb(107, 96, 96);
    text-align:none;
    color:black;
}
b:hover{
    background-color:green;
    color: white;
}
li:active{
    color:green;
}  
li{
    display:inline;
    padding-left:60px;
    color: wheat;
}
body{
background-color:aqua;
}
input{
    background-color:rgb(227, 234, 235);
}
div{
    margin: 10px;
    padding: 10px;
    background-color: lawngreen;
    box-shadow:10px 10px 5px rgb(167, 21, 21);
}
input:hover{
    color:blue;
}
input:active{
    color:red;
}