body{
    background-image: url(12345.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 600px;
    background-color:none ;
}
div{
   background-color: rgba(2, 103, 134, 0.911);
   position: fixed;
   transform: translate(-50%,-50%);
   left: 50%;
   top: 50%;
   text-align:center;
   width: 30%;
   height: 65%;
   border: 10px inset rgb(54, 50, 50);
}
input{
    background-color:rgba(77, 77, 102, 0.603);
    margin: 30px;
    width:75%;
    height:30px;
}
input:hover{
    color: rgb(0, 255, 0);
    background-clip:red;
}
input:active{
    color:red;
}
h1{
    color:rgb(222, 222, 228);
}
a{
    color:white;
}
